html, body, #map { height: 100%;width:100%;}

body {
  padding: 0; margin: 0;
}


#loading {
  position:absolute;
  text-align: center;
  top:50%;
  left:50%;
}

#options  {
  position: absolute;
  top: 60;
  right:10;

}

#list  {
  position: absolute;
  top: 410;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  margin-left: 20px;
  border:1px solid;
  border-radius:7px;
  -moz-border-radius:7px;
  box-shadow: -10px 15px 7px rgba(0,0,0,0.5);
  font-family: Arial,Helvetica,Garuda,sans-serif;;
  font-size: 80%;
}

#charts  {
  position: absolute;
  font: 10px sans-serif;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  top: 20;
  margin-left: 20px;
  border:1px solid;
  border-radius:7px;
  -moz-border-radius:7px;
  box-shadow: -10px 15px 7px rgba(0,0,0,0.5);
}

.chart {
  display: block;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  opacity:0.4;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .425;
}

.markers {
  stroke-width:0.5px;
  stroke-opacity:0.7;
  stroke:black;
}

.title {
  text-anchor : middle;
  font-size:12px;
}

.bars {
  fill : red;
  stroke : none;
}


.y2_top {
  text-anchor : end;
  font-size: 10px;
}

svg {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; cursor:pointer;cursor:hand
}



.fb-like {
  position: absolute;
  bottom: 50;
  left:30;

}